.grid-container {
  /* position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkest-blue);
  padding: 20px;
}

.grid-container table {
  outline: 5px solid #355871;
  padding: 2px;
}

.grid {
  white-space: pre;
}